<h2>Club of Show</h2>
{% if club_of_show_list | length > 0 %}
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Place</th>
            <th>Club</th>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in club_of_show_list %}
        <tr>
            <td>
                {{ loop.index }}
            </td>
            <td>
                {{ entry.name }}
            </td>
            <td>
                {{ entry.firsts_count if entry.firsts_count > 0 }}
            </td>
            <td>
                {{ entry.seconds_count if entry.seconds_count > 0 }}
            </td>
            <td>
                {{ entry.thirds_count if entry.thirds_count > 0 }}
            </td>
            <td>
                {{ entry.score() }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No results</p>
{% endif %}
