{% extends "base.html" %}
{% block title %}Clear Scores{% endblock %}
{% block content %}
    <h1>Clear Scores</h1>
    <form method="POST" action="{{ url_for('clear_scores.show_form') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.environment.label }}
            {% for subfield in form.environment %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
            {% endfor %}
            {% if form.environment.errors %}
                <ul class="errors">
                {% for error in form.environment.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="custom-control custom-checkbox">
            {{ form.confirm(class="custom-control-input") }} {{ form.confirm.label(class="custom-control-label") }}
        </div>
        {% if form.confirm.errors %}
            <ul class="errors">
            {% for error in form.confirm.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <p><input class="btn btn-primary" type="submit" value="Go"></p>
    </form>
    <a href={{ url_for('home_page.show') }} >Back to home</a>
{% endblock %}