{% extends "base.html" %}
{% block title %}File Listing{% endblock %}
{% block content %}
    <h1>{{ display_name }} Listing</h1>
    {% if entries %}
        <table class="table table-striped">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Size (bytes)</th>
                <th scope="col">Created</th>
            </thead>
            {% for entry in entries %}
            <tr>
                <td>
                    <a href={{url_for(dl_view_name, filename=entry.name)}}>{{ entry.name }}</a>
                </td>
                <td>
                    {{ entry.size }}
                </td>
                <td>
                    {{ entry.created_date }}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No files!</p>
    {% endif %}
    <a href={{ url_for('homepage.show') }} >Back to home</a>
{% endblock %}
