{% extends "base.html" %}
{% block title %}Main Menu{% endblock %}
{% block content %}
        <h1>Score Upload System</h1>
        <p>Welcome {{ g.user_name }}</p>

        {% if config.BCOME_ENVS_EXIST  %}

        <p><a href={{ url_for('clear_scores.show_form') }} >Clear scores</a></p>

        <p><a href={{ url_for('upload_scores.show_form') }} >Upload scores</a></p>
        {% else %}
        <p>Error: no BCOE&M environments configured!</p>
        {% endif %}

        <p><a href={{ url_for('backup.show') }}>View Backups</a></p>

        <p><a href={{ url_for('uploads.show') }}>View Uploads</a></p>

        <p><a href={{ url_for('pad_upload_filenames.show_form') }}>Zero Pad Uploaded Scroresheet Filenames</a></p>
{% endblock %}
