{% extends "base.html" %}
{% block title %}Upload Scores{% endblock %}
{% block content %}
    <h1>Upload scores</h1>
    <form method="POST" action="{{ url_for('upload_scores.show_form') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.environment.label }}
            {% for subfield in form.environment %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
            {% endfor %}
            {% if form.environment.errors %}
                <ul class="errors">
                {% for error in form.environment.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <div>
                {{ form.csv_file.label }} {{ form.csv_file }}
            </div>
            {% if form.csv_file.errors %}
                <ul class="errors">
                {% for error in form.csv_file.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="custom-control custom-checkbox">
                {{ form.confirm(class="custom-control-input") }} {{ form.confirm.label(class="custom-control-label") }}<br>
                <small id="confirmHelp" class="form-text">{{ form.confirm.description }}</small>
            </div>
            {% if form.confirm.errors %}
                <ul class="errors">
                {% for error in form.confirm.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p><input class="btn btn-primary" type="submit" value="Go"></p>
        </div>
    </form>
    <a href={{ url_for('homepage.show') }} >Back to home</a>
{% endblock %}
